/* Kleuren die ik gebruik:
Donkerblauw: #141A28
Blauw: #1E2B3F
Lichtblauw: #2373F2
Paars: #C04FFA
Geel: #FFE451
Groen: #00CF96
Donkere tekst: #8896AA
*/

/* ------------------------------------------------------------------- */
/* --------------------main content box properties-------------------- */
/* ------------------------------------------------------------------- */

/* De opmaak van alles in de html en body */
html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* De opmaak van de header van de pagina */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 60px;
    top: 0;
    background-color: #141A28;
    border-bottom: 2px solid #C04FFA;
    z-index: 2;
}

/* De hoogte van het logo in de header */
header img{
    height: 40px;
}

/* de opmaak, vooral van de achtergrond, van de body */
body{
    background-image: url("img/BGimage.svg");
    background-repeat: no-repeat;
    background-color: #141A28;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    min-height: 100vh;
}

/* De positionering van de blokken op de pagina */
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 30px;
    justify-content: space-between;
}

/* ------------------------------------------------------------------- */
/* --------------------datavisualisatie properties-------------------- */
/* ------------------------------------------------------------------- */

/* Dit zijn de properties van de box waarin de datavisualisaties zitten */
.chartWrapper{
    background-color: #1E2B3F;
    margin: 15px 0;
    border-radius: 8px;
    /* padding-top: 20px; */
    width: 100%;
}

/* Specifieke breedte van de eerste container waarin de raket animatie zit */
.firstvisual{
    width: 100%;
}

/* het blok waarin de wereldbol, mars, de stippellijn en de raket zitten */
#rocketcontainer{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin: 20px;
}

/* Het formaat van de wereldbol en mars */
.globe{
    width: 50px;
    min-width: 50px;
}

/* Dit is de box waarin de stippellijn zit, waarover de raket heengaat */
#dashedline{
    display: flex;
    margin: auto 0;
    position: absolute;
    left: 60px;
    right: 60px;
}

/* Dit is de opmaak van de stippellijn. Ik had eerst een border solid 1px, maar ik wilde de spacing veranderen tussen de streepjes, en dat kon niet zomaar. Ik heb het daarom opgelost door een background te gebruiken van 1px hoogte.  */
#line{
    width: 100%;
    background-image: linear-gradient(to right, #4c5973 30%, rgba(255, 255, 255, 0) 0%);
    background-size: 20px 3px;
    height: 1px;
}

/* De box waarin de bewegende raket zit */
#flyingrocket{
    position: absolute;
    left: 60px;
    right: 60px;
}

#rocketWrapper{
    display: flex;
    justify-content: flex-end;
}

#rocket{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;
}

#rocket img{
    width: 25px;
}

/* De plaatsing van de hovertekst onder de raket die vertelt op welke dag je zit */
.hoverTextRocket{
    position: absolute;
    right: 0;
    left: -15px;
    bottom: -40px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: 150ms ease-in-out;
    transition-property: opacity;
}

/* Het zichtbaar worden van de hovertekst zodra je er overheen hovert */
#rocket:hover .hoverTextRocket{
    pointer-events: visible;
    opacity: 1;
}


/* ------------------------------------------------------------------- */
/* ------------------------Media Query Tablet------------------------- */
/* ------------------------------------------------------------------- */

/* tablet versie */
@media only screen and (min-width: 992px) {
    main{
        flex-direction: row;
    }

    .chartWrapper{
        width: calc(50% - 15px);
    }

    .firstvisual{
        width: 100%;
    }
}






/* .chartwrapper{
    width: calc(50% - 15px);
} */